// Body
$body-bg: #3089e2;
$blue-bg: #62b7cb;
$orang-bg: #f58556;
$black-bg: #0b2544;
$bag-bg: #f9f3ea;

// Typography
$font-family-sans-serif: 'Nunito', sans-serif;
$font-size-base: 0.9rem;
$line-height-base: 1.6;


